@media only screen and (max-width: 1440px) {
	.tags-items {
		max-height: 300px;
	}
}

@media only screen and (max-width: 1024px) {
	.container {
		width: 80%;
	}

	.single-repo {
		width: 100%;
		margin-bottom: 20px;
		min-height: 120px;
	}
}

@media only screen and (max-width: 480px) {
	.repositories {
		margin-top: 70px;
	}

	.pagination {
		margin-top: 20px;
	}

	.tag h3 {
		margin: 10px 0;
	}
}
